.shawn{
    color: #FFFFFF;
    font-family: arial;
  }
  
  h1 {color: #FFFFFF;
    font-family: arial;
  }
  
  body {
    background-color: #F2A11C;
  }
  
  img{
    width:60%; height:60%;
  }
  
  
  
